body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f5f7;
}

/* SIDEBAR */
.sidebar {
    height: 100vh;
    width: 230px;
    background: #1c2b39;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sidebar a:hover,
.sidebar a.active {
    background: #2d73c5;
}

/* KONTEN */
.content {
    margin-left: 240px;
    padding: 20px;
}

.header {
    background: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header span {
    font-size: 18px;
}

.logout-btn {
    background: #d9534f;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

/* CARD DASHBOARD */
.card-container {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    margin-bottom: 5px;
}

.card .angka {
    font-size: 28px;
    font-weight: bold;
    color: #2d73c5;
}

.card p {
    margin-top: -5px;
    color: #555;
}
