body { font-family: Arial; background:#eef3f8; padding:20px; }
h2 { color:#1a73e8; border-left:6px solid #1a73e8; padding-left:10px; }

form {
    background:white;
    width:350px;
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 10px #ccc;
}

input[type=text], input[type=file] {
    width:100%;
    padding:10px;
    border:1px solid #1a73e8;
    border-radius:6px;
    margin-bottom:12px;
}

button {
    background:#28a745;
    padding:10px 15px;
    color:white;
    border:none;
    border-radius:5px;
}

table {
    background:white;
    width:100%;
    border-collapse:collapse;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0 0 10px #ccc;
}

table th { background:#1a73e8; color:white; padding:10px; }
table td { padding:10px; border-bottom:1px solid #ddd; }

a { background:#1a73e8; padding:8px 12px; border-radius:5px; color:white; text-decoration:none; }
.hapus { background:#d93025; }
